<nav class="navbar bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">Navbar</a> 
    </div>
</nav>



@* href# kism ana sayfaya yonlendrimesi icin / koyduk *@
@* navbar yazisinin bold olmasi icin fw-bold kullandik *@
@* gri olan rengini sari turuncuya degistirmek icin bg-body-tertiary bg-warning yaptik *@